
@import 'https://fonts.googleapis.com/css?family=Lora|Playfair+Display';
@import 'https://fonts.googleapis.com/css?family=Lora|Playfair+Display|Roboto';

body {
background: rgba(0,255,0,0.1);
margin: 30px;

}

h1 {
font-family: 'Roboto', sans-serif;
color: green;

}

#slogan {
	font-family: 'Lora', serif;
	font-size: em;
}